<link rel="stylesheet" href="/css/components/about.css" />

<section class="about-section position-relative">
  <div class="about-section-title">
        <h3>ABOUT US</h3>
      </div>
  <div class="container d-lg-flex" id="about-container">
    <div class="about-vertical-text-section">
      <p class="sub-title">BUILDING WITH PURPOSE</p>
    </div>
    <div
      class="about-heading-section"
    </div>
    <div class="about-description-section d-lg-flex flex-lg-row">
      <div class="description-wrapper d-lg-flex gap-lg-5">
        <div class="image-wrapper">
          <img
            src="/images/about.png"
            alt="About Grad Architects"
            class="rounded shadow about-heading-image"
          />
        </div>
        <div class="description text-secondary-emphasis">
          <div>
          <p class="mb-4">
            Grad Architects is led by
            <strong>Principal Architect Vishnu Priya</strong>, who brings rich
            experience in Residential, Commercial, and Industrial projects.
            Before founding the firm, she worked with leading practices such as
            A&E Architects and Engineers, Chennai.
          </p>

          <p class="mb-4">
            Since its inception, the firm has grown steadily, delivering
            projects that balance guidelines, aesthetics, and context. Our
            dedicated team ensures personalized care, from
            <strong>initial planning to detailed design</strong> and
            <strong>on-site execution.</strong>
          </p>

          <p class="mb-4">
            As a certified professional in <strong>Mud Architecture</strong> and
            a passionate advocate of <strong>Green Architecture</strong>, Vishnu
            Priya's philosophy drives Grad Architects' focus on sustainability,
            innovation, and timeless design.
          </p>
          </div>
          <div class="btn-class">
        <a href="" class="btn btn-view-projects">View All Projects</a>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>
