<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/components/philosophy.css"> -->

<section class="philosophy-section">
  <div class="container">
    <h2 class="heading">OUR PHILOSOPHY</h2>
    <div class="inner-container d-lg-flex justify-content-lg-between gap-lg-5">
      <div class="philosophy-left">
        <h2 class="main-heading-stacked">WHAT<br />WE<br />STAND<br />FOR</h2>
      </div>
      <div
        class="philosophy-right d-lg-flex justify-content-lg-between gap-lg-5"
      >
        <div class="philosophy-right-left d-lg-flex flex-lg-column">
          <div class="philosophy-right-left-top">
            <p class="philosophy-text">
              At Grad Architects, our vision is to achieve sustainable
              excellence in design by ensuring safety, quality, and beauty in
              every detail. Guided by this, our mission is to deliver creative,
              client-focused architectural solutions that blend your
              preferences, budget, and timeline into inspiring spaces.
            </p>
          </div>
          <hr id="hr" width="55%" />
          <div class="philosophy-right-left-bottom">
            <img
              src="/images/logo.png"
              alt="Grad Architects"
              class="philosophy-logo"
            />
          </div>
        </div>
        <div class="philosophy-right-right">
          <img src="/images/contact.jpg" alt="Philosophy Image" class="shadow"">
        </div>
      </div>
    </div>
  </div>
  <div class="keys">
    <div class="key-values" style="margin-top: 20px">
      <h4 class="values-title">KEY VALUES</h4>
      <div class="value-row">
        Balance
        <span style="color: #c5d92f; margin: 0 8px; font-size: 20px">|</span>
        Sustainability
        <span style="color: #c5d92f; margin: 0 8px; font-size: 20px">|</span>
        Innovation + Technology
      </div>
      <hr class="value-divider" />
      <div class="value-row">Personalized Care</div>
      <hr class="value-divider" />
      <div class="value-row">
        Excellence in Process
        <span style="color: #c5d92f; margin: 0 8px; font-size: 20px">|</span>
        Collaboration
      </div>
      <hr class="value-divider" />
    </div>
  </div>
</section>
