.about-section {
  width: 100% !important;
  right: 20px;
}

.about-vertical-text-section {
  margin-left: 20px;
}

.sub-title {
  letter-spacing: 8px;
  writing-mode: vertical-lr;
  font-size: 1.5rem;
  color: gray;
}

.image-wrapper {
  float: left;
  width: 140%;
}

.image-wrapper img {
  max-width: 100% !important;
  width: 100% !important;
  height: 590px !important;
  object-fit: cover !important;
  border-radius: 16px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
.about-section-title {
  position: absolute;
  right: 24.6%;
  top: 8%;
}
.about-section-title h3 {
  font-size: 2.5rem;
  letter-spacing: 8px;
}
.about-description-section p {
  text-align: justify;
  font-size: 0.8rem;
}

.description {
  margin-top: 110px;
}

.btn-view-projects {
  background-color: #c5d92f !important;
  color: #ffffff !important;
  border: 2px solid #c5d92f !important;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 300;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 768px) {
  #about-container {
    display: flex;
    flex-direction: row;
  }
  .about-section {
    margin-right: 80px;
  }
  .sub-title {
    letter-spacing: 14px;
    writing-mode: vertical-lr;
    font-size: 1.5rem;
    color: gray;
    transform: rotate(180deg);
  }

  .image-wrapper {
    float: left;
    margin-right: 20px;
    width: 65%;
  }

  .image-wrapper img {
    float: left;
    max-width: 100% !important;
    width: 100% !important;
    height: 350px !important;
    object-fit: cover !important;
    border-radius: 16px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  }
  .about-section-title {
    position: static;
    margin-left: 50px;
  }
  .about-section-title h3 {
    font-size: 2.5rem;
    letter-spacing: 8px;
  }
  .about-description-section p {
    text-align: start;
  }

  .description-wrapper {
    gap: 2px;
  }
  .description {
    margin-top: 0px;
  }

  .btn-view-projects {
    background-color: #c5d92f !important;
    color: #ffffff !important;
    border: 2px solid #c5d92f !important;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 300;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
  }
}
